.textForm {
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid gray;
  z-index: 9;
}

.container {
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
}

.name-input {
  width: 200px;

}

.container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #fff;
  resize: none;
  min-height: 200px;
}

.container textarea:focus {
  background-color: #fff;
  outline: none;
}

.container .btn {
  background-color: greenyellow;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.container .cancel {
  background-color: greenyellow;
}

.container .btn:hover, .open-button:hover {
  opacity: 1;
}