@import '../../SCSS/_var.scss';



.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: $text-color;
    height: 70vh;
    width: 40vw;
    background-color: darkgray;
    position: fixed;
    right: 30px;
    bottom: 125px;  
    border-color:  rgb(100, 100, 100);
    border-style: outset;
    border-width: 10px;
    box-shadow: #000000 0px 5px 5px ;
    background: linear-gradient(to top right, #4e4e4e, #c4c4c4, #4e4e4e);
    
}

#share{
  display: flex;  
}
.name-input {
    width: 15vw;
    height: 15px;
    border-radius: 5px;
    padding: 2%;
}

.chat-input {
    width: 35vw;
    height: 8rem;
    border-radius: 5px;
    padding: 2%;
}

.btn {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 17.75vw;
    border-radius: 5px;
    background-color: $accent-color;
}

.mapped-messages {
    overflow: scroll;
    font-size:20px;
    border-radius: 5px;
    padding: 2%;
    color: black;
    width: 35vw;
    height: 70vh;
    background-color: white;
}

#chat-div{
    display: flex;
    justify-content: space-around;
}
 #fonted{
     color:white;
 }

 #pixed{
     width: 10vw;

 }
  