@import '../../SCSS/_var.scss';

#open-button {
    background-color: $nav-color;
    color: white;
    border-radius: 5px;
    border-style: double;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 20vw;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
    border-radius: 5px;
    border-color: $border-color;
    color: $text-color;
    height: 60vh;
    width: 50vw;
    background-color: $nav-color;
    position: fixed;
    // bottom: 25px;
    right: 25px;
}

#share{
  display: flex;  
}
.name-input {
    width: 15vw;
    height: 20px;
    border-radius: 5px;
    padding: 2%;
}

.chat-input {
    width: 17vw;
    height: 3rem;
    border-radius: 5px;
    padding: 2%;
}

.btn {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 17.75vw;
    border-radius: 5px;
    background-color: $accent-color;
}

.mapped-messages {
    font-size:20px;
    border-radius: 5px;
    padding: 2%;
    color: black;
    width: 45vw;
    height: 70vh;
    background-color: white;
}


