@import '../../SCSS/_var.scss';
.mainDiv{
    box-sizing: border-box;
    width:80vw;
    height: 100vh;
//    display: flex;
   overflow-y: hidden;
  
    

}
.playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: $text-color;
    height: 70vh;
    width: 40vw;
    background-color: darkgray;
    position: fixed;
    right: 10vw;
    bottom: 150px;  
    border-color:  rgb(100, 100, 100);
    border-style: outset;
    border-width: 10px;
    box-shadow: #000000 0px 5px 5px ;
    background-color: rgb(66, 66, 66);
    background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");  
}
.profile-pic{
    width: 50px;
    height: 50px;
}
.trackList p {
    font-size: 20px;
    display: inline-block;
    margin: 5%;
    
}
.track-box{
    position: fixed;
    left: 42vw;
    bottom: 110px;
    box-sizing: border-box;
    height: 280px;
    width: 30vw;
    overflow: scroll;
    font-size: 9px;
    
    
    
      
}