@import '../../SCSS/_var.scss';

.dropbox-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 20vw;
    min-height: 75vh;
    position: absolute;
    border-radius: 5px;
    border-color: rgb(100, 100, 100);
    border-style: outset;
    border-width: 10px;
    box-shadow: #000000 0px 5px 5px ;
    background: linear-gradient(to top right, #4e4e4e, #c4c4c4, #4e4e4e);

    
}

h2 {
    margin: 0;
    padding: 0;
    text-shadow: #000000 0px 5px 5px ;
    
}

h6 {
    margin: 0;
    padding: 0;
    text-shadow: #000000 0px 5px 5px ;
    
    
}

.name-box {
    display:flex;
    flex-direction: column;
    align-items:  center;
    width: 200px;
    height: 100px;
    border-radius: 50%;
    border-color: rgb(100, 100, 100);
    border-style: outset;
    border-width: 10px;
    box-shadow: #000000 0px 5px 5px ;
    background-color: rgb(29, 29, 29);
    background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");

}

.name {

    width: 175px;
    border-radius: 5px;
    text-align: center;
}

.add-photo {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: gray;
    color: $text-color;
    border-radius: 5px;
    min-height: 200px;
    width: 220px;
    border-color: rgb(100, 100, 100);
    border-style: outset;
    border-width: 7px;
    box-shadow: #000000 0px 5px 5px ;
    background-color: rgb(29, 29, 29); 
    background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
}

// .add-photo input {
//     width: 175px;
//     height: 100px;
//     color: black;
//     font-weight: bold;
//     text-align: center;
//     border-radius: 5px;
    
// }

.add-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: $nav-color;
    color: $text-color;
    border-radius: 50%;
    min-height: 200px;
    width: 220px;
    border-color:  rgb(100, 100, 100);
    border-style: outset;
    border-width: 10px;
    box-shadow: #000000 0px 5px 5px ;
    background-color: rgb(29, 29, 29);
    background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
}

// .add-music input {
//     width: 175px;
//     height: 100px;
//     color: black;
//     font-weight: bold;
//     text-align: center;
//     border-radius: 5px;
// }

p {
    margin-top: 5%;
    font-size: 15px;
    text-shadow: #000000 0px 5px 5px ;
}

h1 {
    margin: 0px 0px;
     
}

.btns {
    margin: 2%;
    width: 100px;
    height: 30px;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(20, 219, 14);
    

    border-radius: 5px;
    background: linear-gradient(to top right, #707070, #c4c4c4, #707070)
}