@import '../../SCSS/_var.scss';

.search-bar {
    height: 65px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: $nav-color;
}
    
.search-bar img {
    height: 110px;
    float: left;
}

.search-bar input :focus {
    width: 200px;
    float: right;


}

input{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
#buttz{
    background-color:$accent-color;
    border-radius:15px;
    font-size:x-large;
    box-shadow: 05px 5px 5px 0px rgba(35, 163, 18, 0.75);

     
}
 