@import '../../SCSS/_var.scss';

.search-bar {
    height: 20px;
    background-color: $nav-color;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
    
.search-bar img {
    float: left;
}

.search-bar input{
    float: right;
}