@import '../../SCSS/_var.scss';

.search-bar {
    height: 65px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: $nav-color;
}
    
.search-bar img {
    height: 110px;
    float: left;
}

.search-bar input :focus {
    width: 200px;
    float: right;


}