.mainDiv{
    box-sizing: border-box;
    width:80vw;
    height: 100vh;
//    display: flex;
   overflow-y: hidden;
  
    

}


.album-box{
top: 20px;
position: absolute;
display:flex;
flex-direction: column;
box-sizing: border-box;  
height:110vh;
width: 15vw;
right: 10px;
overflow: scroll;
justify-content: space-evenly;
}

.trackList p {
    font-size: 20px;
    display: inline-block;
    margin: 5%;
    
}

.artist-box{
 width: 30vw;
 left: 35vw;
}
.track-box{
    position: fixed;
    left: 30vw;
    bottom: 130px;
    box-sizing: border-box;
    height: 280px;
    width: 30vw;
    overflow: scroll;
    font-size: 9px;
    
    
    
      
}
.artistImg{
    position: fixed;
    height: 25vh;
    width: 20vw;
    left: 35vw;
   
}

.albumImg{
    height: 20vh;
    align-items: center;

}



