.mainDiv{
    box-sizing: border-box;
    width:80vw;
    height: 100vh;
   display: flex;
}


.album-box{
top: 65px;
position: absolute;
display:flex;
flex-direction: column;
box-sizing: border-box;  
height:110vh;
width: 15vw;
right: 10px;
overflow: scroll;
justify-content: space-evenly;
}
.artist-box{
 width: 50vw;
}
.track-box{
position: absolute;
bottom:100px;


    box-sizing: border-box;
    height: 280px;
    width: 50vw;
    overflow: scroll;
    font-size: 9px;
    
}
.artistImg{
    height: 25vh;
    width: 20vw;
   
}

.albumImg{
    height:20vh;
    align-items: center;

}