@import '../../SCSS/_var.scss';

.mainDiv{
    width:80vw;
    height: 75vh;
    overflow-y: hidden;
}

.album-box{
    position: absolute;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;  
    height: 80vh;
    padding-top: 115%;
    width: 15vw;
    right: 10px;
    overflow: scroll;
    justify-content: space-evenly;
}

.albumImg {
    height: 20vh;
    align-items: center;
}

.track-box {
    position: fixed;
    left: 30vw;
    bottom: 130px;
    box-sizing: border-box;
    height: 275px;
    width: 40vw;
    overflow: scroll;
 
    font-size: 9px;
}

.track-box h3 {
    font-size: 45px;
}

.trackList p {
    font-size: 20px;
    display: inline-block;
    margin: 0px 20px;
}


.artist h3 {
    font-size: 40px;
    position: fixed;
    left: 42%;
    
}

.artistImg{
    position: fixed;
    top: 18vh;
    height: 25vh;
    width: 20vw;
    left: 40vw;
    border-style: outset;
    border-width: 10px;
    border-radius: 10px;
}

.albumImg{
    height: 20vh;
    align-items: center;

.trackbtns {
   
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10vw;
    border-radius: 10px;
    background-color: black;
    border-style: outset;
    border-width: 10px;
    color: white;
    font-weight: bold;
    box-shadow: #000000 0px 5px 5px ;
}




