body {
 background: linear-gradient(to right, #4e4e4e, #f0f0f0);
}
.App {
  background-image: url('./boombox.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Hind Siliguri', sans-serif;

}


.left{
  width: 25vw;
}
.right{
  position: fixed;
  top: 100px;
  left: 17vw;
  width: 60vw;
  text-align: center;
}

#audio{
  position: fixed;
  bottom:0;
  width: 50vw;
}

#colored{
  font-size: 40px;
  color:green
}





