body {
  
  background: linear-gradient(to right, #4e4e4e, #f0f0f0);
}

.App {
  background-image: url('./boombox.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
#left{
  width: 25vw;
}
/* #right{
  position: fixed;
  top: 65px;
  left: 15vw;
  width: 85vw;
} */

#audio{
  position: fixed;
  bottom:0;
  width: 50vw;
}






