@import '../../SCSS/_var.scss';

.main-nav {
    background-color: $nav-color;
    display: flex;
    height: 100vh;
    width: 15vw;
    
}

.desktop-nav li {
    align-content: space-between;
}

.desktop-nav ul {
    list-style-type: none;
    box-sizing: border-box;
    width: 15vw;
    height: 35vh;
    padding: 0;
    align-items: space-between;
}

.desktop-nav a {
    display: flex;
    text-decoration: none;
    color: $text-color;
    font-size: 25px;
    justify-content: center;
    margin: 5%;
}

.desktop-nav a:hover{
    background-color: gray;
}