@import '../../SCSS/_var.scss';

.main-nav {
    top:65px;
    left:0;
    background-color: $nav-color;
    position: fixed;
    height: 100vh;
    width: 15vw;
    background-color: #000000;

    
}

.desktop-nav li {
    align-content: space-between;
}

.desktop-nav ul {
    list-style-type: none;
    box-sizing: border-box;
    width: 15vw;
    height: 35vh;
    padding: 0;
    align-items: space-between;
}

.desktop-nav a {
    display: flex;
    text-decoration: none;
    color: $text-color;
    font-size: 25px;
    justify-content: center;
    margin: 5%;
}

.desktop-nav a:hover{
    background-color: gray;
}
.profilePic img{
    border-radius: 30%;
}
.profilePic {
    
    height: fit-content ;
    width: fit-content;
    margin: auto;
    margin-top: 35%;
    border-radius: 5%;
    padding-top:10px;


}