@import '../../SCSS/_var.scss';



.auth img {
    position: fixed;
    left: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    -webkit-filter: blur(2px);  

}



#a-tag{
    position: absolute;
    top: 65vh;
    left: 21.5vw;
    color: greenyellow;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border: 2px solid greenyellow;
    width: 20vw;

}


.main{
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white;
    padding: 20px;
    margin-top: 8%;
    margin-right: 19vw;
    margin-left: 19vw;;
    
}

.header-1{
    display:inline-block;
    position: relative;
    bottom: 100%;
    color: white;
    margin-bottom: 50px
}

.auth-input {
    display: flex;
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 2%;
    border-radius: 5px;
}

.authBtn {
    margin-top: 10px;
    width: 205px;
    height: 25px;
    background-color: rgb(2, 224, 2);
}

h4 {
    margin: 0px;
    margin-top: 25px;
}