@import '../../SCSS/_var.scss';


.auth img {
    position: fixed;
    left: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;

}

.main{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:35vw;

    
}


.auth-input {
    display: flex;
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 2%;
    border-radius: 5px;
}

.authBtn {
    margin-top: 10px;
    width: 205px;
    height: 25px;
    background-color: rgb(2, 224, 2);
}

h4 {
    margin: 0px;
    margin-top: 25px;
}